<div class="wrapper">
    <div class="sidebar-menu mobile-hide">
        <div class="app-name" (click)="toggleNav()">
            <span class="font"><img src="./../assets/images/icons8-menu-48.png"></span>
            <span class="name" [ngClass]="{'d-none': !isExpandNav}">APP DEMO</span>
        </div>

        <ul [ngClass]="{'expand-menu': isExpandNav}">
            <li>
                <a title="Steps" [routerLink]="['/welcome']" routerLinkActive="router-link-active">
                    <span class="font"><img src="./../assets/images/icons8-color-50.png"></span>
                    <span class="link">Home</span>
                </a>
            </li>

            <li>
                <a title="Steps" [routerLink]="['/steps']" routerLinkActive="router-link-active">
                    <span class="font"><img src="./../assets/images/icons8-staircase-48.png"></span>
                    <span class="link">Steps</span>
                </a>
            </li>
            <li>
                <a title="Scripts" [routerLink]="['/script']" routerLinkActive="router-link-active">
                    <span class="font"><img src="./../assets/images/icons8-source-code-40.png"></span>
                    <span class="link">Scripts</span>
                </a>
            </li>
            <li>
                <a title="Placeholder Text" [routerLink]="['/placeholder']" routerLinkActive="router-link-active">
                    <span class="font"><img src="./../assets/images/air-filter.png"></span>
                    <span class="link">Placeholder Text</span>
                </a>
            </li>
            <li>
                <a title="Generate Document" [routerLink]="['/generate-docx']" routerLinkActive="router-link-active">
                    <span class="font"><img src="./../assets/images/icons8-microsoft-word-48.png"></span>
                    <span class="link">Generate Docx</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content-wrapper">
        <header class="mainheader">
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md">
                <div class="desktop-hide">
                <div style="width: 100%" ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select menu</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem [routerLink]="['/welcome']">Home</button>
                    <button ngbDropdownItem [routerLink]="['/steps']">Steps</button>
                    <button ngbDropdownItem [routerLink]="['/script']">Scripts</button>
                    <button ngbDropdownItem [routerLink]="['/placeholder']">Placeholder Text</button>
                    <button ngbDropdownItem [routerLink]="['/generate-docx']">Generate Docx</button>
                    </div>
                </div>
                </div>
                <form class="form-inline mt-2 mt-md-0 mobile-hide">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </header>

        <div class="main-container">
            <ngx-ui-loader></ngx-ui-loader>
            <router-outlet></router-outlet>
        </div>
        <div class="footer"></div>
    </div>
    <!--header strat here-->
</div>