<!-- Begin page content -->
<main role="main" class="container-fluid custom-card">
  <h1 class="heading-title">Placeholders</h1>
  <form>
    <div class="row">
      <div class="col-sm-6">
        <input class="form-control" autocomplete="off" [(ngModel)]="placeHolderModel.name" name="name"
          placeholder="Placeholder text" id="script">
      </div>

      <div class="col-sm-2">
        <button type="submit" (click)="addPlaceHolder()" class="btn btn-primary">Add Text</button>
      </div>
    </div>
  </form>
</main>

<main class="container-fluid custom-card">
  <table class="table table-bordered custom-table step-table">
    <thead>
        <tr>
            <th class="first-column">#</th>
            <th class="step-column">Placeholder Text</th>
            <th class="notes-column">Created Date</th>
            <th class="action-column">Action</th>
          </tr>
    </thead>

    <tbody>
      <tr *ngFor="let plchldr of placeHolder; let ind = index">
        <th>{{ ind + 1 }}</th>
        <td>{{plchldr?.name}}</td>
        <td>{{plchldr?.createdDate | date: shortDate}}</td>
        <td>
            <a title="Delete Script" class="action delete" (click)="openModal(content, plchldr._id, ind)">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</main>

<div class="step-modal">
    <ng-template #content let-modal>
      <div class="modal-header red-bg">
        <h4 class="modal-title" id="modal-basic-title">Delete Steps</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete steps ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.dismiss('dismiss')">Cancel</button>
        <button type="button" class="btn btn-success" (click)="modal.close('delete')">Delete</button>
      </div>
    </ng-template>
  </div>