<div class="container-fluid page-dashboard">
  <div class="row">
     
    <div class="col-xl-3 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <img src="./../assets/images/icons8-staircase-48.png">
        </div>
        <div class="box-info">
          <span id="step">Steps</span>
        </div>
        <div class="box-bottom">
          <span> {{ totalCount?.stepCount }} <span class="size-h4"></span></span>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6">
        <div class="box box-default">
          <div class="box-top">
            <img src="./../assets/images/icons8-source-code-40.png">
          </div>
          <div class="box-info">
            <span id="script">Scripts</span>
          </div>
          <div class="box-bottom">
            <span>{{ totalCount?.numscript }}<span class="size-h4"></span></span>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-sm-6">
        <div class="box box-default">
          <div class="box-top">
            <img src="./../assets/images/air-filter.png">
          </div>
          <div class="box-info">
            <span id="placeholder">Placeholder</span>
          </div>
          <div class="box-bottom">
            <span>{{ totalCount?.phcount }}<span class="size-h4"></span></span>
          </div>
        </div>
      </div>

    <div class="col-xl-3 col-sm-6">
      <div class="box box-default">
        <div class="box-top">
          <img src="./../assets/images/icons8-microsoft-word-48.png">
        </div>
        <div class="box-info">
          <span id="docx">Generated Docx</span>
        </div>
        <div class="box-bottom">
          <span>{{ totalCount?.totalDoc }} <span class="size-h4"></span></span>
        </div>
      </div>
    </div>     
  </div>
</div>