
<!-- Begin page content -->
<main role="main" class="container-fluid custom-card">
    <div class="row">
      <div class="col-sm-7">
          <h1 class="heading-title">Generate Document</h1>
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
      <div class="col-sm-4">
        <select name="scrip" [(ngModel)]="scriptModel" (change)="selectScript($event)" class="form-control">
          <option [value]="null">Select Script</option>
          <option *ngFor="let item of scriptList" [ngValue]="item">{{ item.name }}</option>
        </select>
      </div>

      <div class="col-sm-4">
        <select name="placeholder" [(ngModel)]="placeHolderModel" (change)="selectPlaceholder($event)" class="form-control">
          <option [value]="null">Select placeholder text</option>
          <option *ngFor="let item of placeHolderList" [value]="item._id">{{ item.name }}</option>
        </select>
      </div>
    </div>
    
  <div>&nbsp;</div>
    <table class="table table-bordered custom-table step-table">
        <thead>
          <tr>
            <th width="10%" scope="col">#</th>
            <th width="60%" scope="col">Steps</th>
            <th width="30%" scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stetData of transformStep; let ind = index">
            <th scope="row">{{ ind + 1 }}</th>
            <td>{{ stetData?.stepName}}</td>
            <td>{{ stetData?.note}}</td>
          </tr>
        </tbody>
      </table>
      <div>&nbsp;</div>
      <div class="d-flex justify-content-end">
        <button *ngIf="isTransformData" title="Back to steplist" class="btn" (click)="generateDocx()">Generate Docx</button>
        </div>
  </main>
  