<!-- Begin page content -->
<main role="main" class="container-fluid custom-card">
  <div class="row mb-3">
    <div class="col-sm-6">
      <h1 class="heading-title">Steps Detail</h1>
    </div>
    <div class="col-sm-6">
      <a [routerLink]="['/steps']" routerLinkActive="router-link-active"
        class="ml-4 btn pull-right btn-info custom-add-btn">Add Step</a>
    </div>
  </div>
  <table class="table table-bordered custom-table step-table">
    <thead>
      <tr>
        <th class="first-column">#</th>
        <th class="step-column">Steps Name</th>
        <th class="notes-column">Created Date</th>
        <th class="action-column">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stepdata of stepDataList; let ind = index">
        <th><label class="checkbox">
            <input type="checkbox" [value]="stepdata.status" [(ngModel)]="stepdata.status" />
            <span></span>
          </label></th>
        <td>{{ stepdata?.stepsName }}</td>
        <td>{{stepdata?.created_date | date: shortDate}}</td>
        <td>
          <a title="Delete Step" class="action delete" (click)="openModal(content, stepdata._id, ind)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>

          <a title="Edit Step" class="action edit" (click)="edit(stepdata._id)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>

          <a title="Generate Docx" class="action word" (click)="openDocx(stepdata._id, ind)">
            <i class="fa fa-file-word-o" aria-hidden="true"></i>
          </a>

        </td>
      </tr>
    </tbody>
  </table>
  <div>&nbsp;</div>
</main>


<div class="step-modal">
  <ng-template #content let-modal>
    <div class="modal-header red-bg">
      <h4 class="modal-title" id="modal-basic-title">Delete Steps</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure want to delete steps ?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="modal.dismiss('dismiss')">Cancel</button>
      <button type="button" class="btn btn-success" (click)="modal.close('delete')">Delete</button>
    </div>
  </ng-template>
</div>